/* responsive start */
@media screen and (max-width: 1290px) {
    .nav_list {
        gap: 20px;
    }

    .header_icon_container {
        margin-left: 10px;
    }

    .user_icon {
        margin: 0 15px 0 30px;
    }
}

@media screen and (max-width: 1106px) {
    .logo {
        margin-left: 30px;

    }


}

@media screen and (min-width: 1001px) {

    .header_icon_container {
        label i {
            display: none;
        }
    }

}

@media screen and (max-width: 1000px) {
    .nav_list {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: -300px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15vh;
        top: 0;
        text-align: center;
        padding-top: 50px;
        width: 200px;
        height: 50vh;
        transition: 1s ease-in;
    }

    .nav_list li a {
        color: var(--white);
    }

    #nav_check:checked~.nav_list {
        left: 0px;
    }
}

@media screen and (max-width: 725px) {
    .footer_border {
        width: 524px;
    }
}

@media screen and (max-width: 660px) {
    .header_icon_container {
        margin-left: 30px;
    }

    .inp_icon {
        width: 150px;
    }
}


@media screen and (max-width: 588px) {
    .footer_mail button {
        margin: 40px 10px 47px 5px;
    }

    .footer_mail input {
        margin: 40px 0 47px 5px;
    }
}


@media screen and (max-width: 528px) {
    .logo {
        margin-left: 20px;
        width: 100px;
    }

    .header_icon_container {
        margin-left: 15px;
    }

    label i {
        margin-right: 15px;
    }

    .footer_border {
        width: 424px;
    }
}

@media screen and (max-width: 528px) {
    .footer_border {
        width: 320px;
    }
}

@media screen and (max-width:435px) {
    .footer_mail input {
        width: 150px;
        margin: 40px 0 47px 5px;
    }

    .footer_mail button {
        width: 60px;
        margin: 40px 10px 47px 25px;
        font-size: 1rem;
        padding: 8px 15px 7px 2px;
    }
}

@media screen and (max-width: 430px) {
    .user_icon {
        margin: 0 5px 0 10px;
    }

    .logo {
        width: 80px;
    }

    .inp_icon {
        width: 100px;
    }

    .inp_icon input {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {
    .footer_icon_container ul li {
        margin: 0 5px 0 0;
    }

    .footer_icon_container p {
        margin-left: 5px;
        width: 147px;
    }
}

@media screen and (max-width: 475px) {

    .slider_container {
        gap: 5px;
    }
}

@media screen and (max-width: 388px) {
    .center_container {
        width: 320px;

    }

    .center_container img {
        width: 320px;
    }

    .center_container h4 {
        margin: 16px 41px 5px 5px;
    }
}

@media screen and (max-width: 370px) {
    .footer_mail input {
        width: 180px;
        margin: 40px 0 47px 5px;
    }

    .footer_mail button {
        margin: 40px 10px 47px 24px;
    }

    .footer_list li a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 330px) {
    .header_icon_container {
        margin-left: 5px;
    }

    .logo {
        margin-left: 10px;
    }

    .header_bg_container h1 {
        margin-left: 10px;
        max-width: 400px;
    }

    .header_bg_container p {
        margin-left: 10px;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 10px;
    }


}